<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Content</a>

<div id="modal1" class="modal">
    <form name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
    <div class="modal-content">
      <h4>Add Content</h4>
     
        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <input type="text"
                class="form-control"
                name="title"
                [(ngModel)]="form.title"
                required
                #username="ngModel">
                <label for="code">Content Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <input type="text"
                class="form-control"
                name="description"
                [(ngModel)]="form.description"
                required
                #username="ngModel">
                <label for="name">Content Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <app-uploadfiles (message) = "messagefrom($event)"></app-uploadfiles>
            </div>
        </div>
        
     
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" type="submit" name="action">Submit</button>
    </div>
</form>
  </div>

